<mat-card class="my-card">
    <mat-card-content>
        <form >
            <table class="login-table" cellspacing="0">
              <tr><td>
                  <mat-form-field class="field-width">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput  placeholder="Username" name="user.username" [(ngModel)]="user.username" >
                  </mat-form-field>
              </td></tr>
              <tr><td>
                  <mat-form-field class="field-width">
                    <mat-label>Password</mat-label>
                    <input type="text" matInput  placeholder="Password" name="user.password" [(ngModel)]="user.password">
                  </mat-form-field>
              </td></tr>
            </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
      <button mat-raised-button (click)="register()" color="primary">Register</button>
    </mat-card-actions>
</mat-card>

