
<h2>My phones</h2>
<ul class="phones">
  <li *ngFor="let phone of phones"
      [class.selected]="phone === selectedPhone"
      (click)="onSelect(phone)">
    <span class="badge">{{phone.id}}</span> {{phone.name}}
  </li>
</ul>

<div *ngIf="selectedPhone">
<h2>{{selectedPhone.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedPhone.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPhone.name" placeholder="name">
    </label>
  </div>
</div>

<div>
    <label>id:
      <input (keyup)="onKey($event)" placeholder="id">
    </label>
  </div>
<div>
  <span> id: </span>{{idphone.id}}
  <span>  name: </span>{{idphone.name}}
  <span>  price: </span>{{idphone.price}}
</div>
  