
<h2>My phones</h2>
<ul class="phones">
  <li *ngFor="let phone of phones"
      [class.selected]="phone === selectedPhone"
      (click)="onSelect(phone)">
    <span class="badge">{{phone.id}}</span> {{phone.name}}
  </li>
</ul>

<div *ngIf="selectedPhone">
<h2>{{selectedPhone.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedPhone.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPhone.name" placeholder="name">
    </label>
  </div>
</div>

<br><br>

<div>
  <mat-form-field appearance="outline" floatLabel="always" hintLabel="Just numbers">
    <mat-label>Id phone:</mat-label>
      <input matInput #idPhoneInput maxlength="2" placeholder="idPhone" value="1" (keyup)="onKey($event)">
      <mat-hint align="end">{{idPhoneInput.value?.length || 0}}/2</mat-hint>
    </mat-form-field>
</div>

<div *ngIf="idphone">
  <mat-card style="width: 20%"><span> id: </span>{{idphone.id}}</mat-card>
  <mat-card style="width: 20%"><span> name: </span>{{idphone.name}}</mat-card>
  <mat-card style="width: 20%"><span> price: </span>{{idphone.price}}</mat-card>
</div>
  